.heading {
  font-size: 40px;
  margin-bottom: 20px;
}

.strip {
  width:10px;
  background-color: rgb(197, 197, 197);
}

.container-2 {
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
}

.question-contents {
  padding: 20px;
}

.answer-contents {
  padding: 20px;
  background-color: rgb(255, 255, 196);
}

p {
  font-size: 20px;
}

.text {
  margin-bottom: 0;
}
